.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  padding: 5% 15%;
  background: #121212;
}
.center {
  text-align: center;
}
.title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 200;
}
.subtext {
  font-family: 'Poppins', sans-serif;
  color: #424242;
  font-size: 1.2rem;
}
.fa-spotify {
  color: green;
}
.spotify-btn {
  padding: 1em;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  background-color: #212121;
  color: white;
  font-family: 'Montserrat',sans-serif;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.6);
}